matplotlib>=3.2.2
numpy>=1.19.5
pathlib2==2.3.5
scipy==1.5.1
sklearn==0.0
-f https://download.pytorch.org/whl/torch_stable.html
torch==1.7.0+cu101
-f https://data.pyg.org/whl/torch-1.7.0+cu101.html
torch-scatter==2.0.7 
torch-sparse==0.6.9
torch-cluster==1.5.9
torch-spline-conv==1.2.1
torch-geometric==2.0.1
tqdm
KDEpy
